#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  max-width: 60rem;
  margin: 2rem auto;
}

.section {
  margin-bottom: 4rem;
}

.form-row {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  margin-bottom: 2rem;
}

ul {
  display: inline-block;
}

.quotes-list {
  list-style-type: none;
}

.quote-list-item {
  margin-bottom: 1rem;
}

.quote-text {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.quote-author {
  font-style: italic;
}
